<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dark Forest</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
        <link rel="stylesheet" href="../css/creategame.css"/>
        <link rel="stylesheet" href="../css/header.css"/>
    </head>
    <body>
        <div class="header">
            <h1 onclick="window.location.href='index.html'">Dark Forest</h1>
            <p id="comment">Clever comment loading. . . </p>
            <p class="time">5:34PM Earth ST 1/16/2159</p>
        </div>
        
        <p id="startstatus"></p>
        <a id="leave" href="index.html">back home</a>
        <div id="menu">  
            <div class="buttons">
                <button onclick="window.location.href='index.html'">← Home</button>
                <button id="startbutton">Start Game</button>
            </div>
            <div class="gamedetails">
                <div class = "server">
                    <div class="code">
                        <label>Game Code:</label>
                        <p id="gamecode">PL4C3H0LD3R</p>
                    </div>
                    <div id="playerlist" class="player-details">
                        <label>Players:</label>
                    </div>
                </div>
                
                <div class="empiredetails">
                    <div class="empiretype">
                        <label for="empires">Pick Your Empire:</label>
                        <div class="empire">
                            <select name="empires" id="selecttype">
                                <option value="human">Human</option>
                                <option value="hive mind">Hive Mind</option>
                                <option value="machine">Machine</option>
                            </select>
                            <img id="empireicon" src="../../public/assets/HumanIcon.png"/>
                        </div>
                    </div>
                    <div class="bonuses">
                        <label>Empire Bonuses</label>
                        <p id="empirebonus">Humans may trade credits for any other resource at a 2:1 ratio, instead of 3:1.</p>
                    </div>
                </div>
            </div>
        </div> 
        <script src="../js/headerbackground.js"></script>
        <script src="../js/creategame.js"></script>
    </body>
</html>