<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dark Forest</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
        <link rel="stylesheet" href="../css/index.css"/>
        <link rel="stylesheet" href="../css/header.css"/>
    </head>
    <body>
        <div class="header">
            <h1 onclick="window.location.href='index.html'">Dark Forest</h1>
            <p id="comment">Clever comment loading. . . </p>
            <p class="time">5:34PM Earth ST 1/16/2159</p>
        </div>

        <div class="menu">
            
            <div class="account">
                <p id="accountstatus">Status: logged out</p>
                <div class="myaccount">
                    <img id="profileimage" src="../../public/assets/loggedOut.png"/>
                    <button id="login" onclick="window.location.href='login.html'">Login</button>
                <button id="logout">Logout</button>
                </div>
            </div>
        
            <button onclick="window.location.href='creategame.html'">Create Game</button>
            <button onclick = "window.location.href='joingame.html'">Join Game</button>
            <!--<button>Tutorial</button>-->
        </div>
        <script src="../js/headerbackground.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>