<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dark Forest</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
        <link rel="stylesheet" href="../css/register.css"/>
        <link rel="stylesheet" href="../css/header.css"/>
    </head>
    <body>
        <div class="header">
            <h1 onclick="window.location.href='index.html'">Dark Forest</h1>
            <p id="comment">Clever comment loading. . . </p>
            <p class="time">5:34PM Earth ST 1/16/2159</p>
        </div>
        <div class="inputs">
            <h1>Account Log In</h1>
            <form id="loginForm">
                <label for="username">Username:</label><br>
                <input type="text" maxlength="15" id="username" placeholder="JohnTheDoe" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" maxlength="30" placeholder="Enter A Password" id="password" name="password"><br>
                <!--<label for="email">Email:</label><br>
                <input type="email" id="email" maxlength="35" placeholder="johndoe@gmail.com" name="email"><br>-->
                <input id="submitButton" type="submit" value="Login">
            </form>
            <p id="statusmessage"></p>
            <p>Don't have an account?</p>
            <button onclick="window.location.href='register.html'">Register</button>
            <button onclick="window.location.href='index.html'">Home</button>
        </div>
        <script src="../js/headerbackground.js"></script>
        <script src="../js/login.js"></script>
    </body>
</html>