body, html {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(48, 48, 61, 0.808);
    width: 100vw;
    height: clamp(10vh, 15vh, 20vh);
    border-bottom: 2px solid black;
}
.header h1 {
    min-width: fit-content;
    margin-left: 25px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px;
    text-align: center;
    text-decoration: none;
    font-size: clamp(20px, 3vw, 40px);
}
.header h1:hover {
    scale: 1.01;
    cursor: pointer;
}
.header img {
    width: 55px;
}
.header .time {
    font-size: clamp(15px, 2.5vw, 25px);
    text-align: center;
    color: yellow;
    text-shadow: black 2px 2px;
}
#comment {  
    text-align: center;
    min-width: 160px;
    font-size: clamp(15px, 2.5vw, 25px);
    margin-left: 25px;
    animation-name: rainbow;
    animation-iteration-count: infinite; 
    animation-duration: 4s;
}
@keyframes rainbow {
    0%{
        color: rgb(255, 255, 0);
    }
    25%{
        color: rgb(22, 255, 1);
    }
    50%{
        color: rgb(255, 0, 0);
    }
    75%{
        color: rgb(51, 0, 255);
    }
    100%{
        color: rgb(255, 255, 0);
    }
}