body {
    background-image: url("public/assets/Menu1.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Orbitron;
}
.header {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: overflow;
    background-color: #ff000085;
    padding: 20px 30px;
    margin: 0px 0px;
}
.header h1 {
    float: left;
    color: black;
    text-shadow: rgb(255, 255, 255) 1px 1px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
}
.header img {
    width: 55px;
}
.header p {  
    animation-name: rainbow;
    animation-iteration-count: infinite; 
    animation-duration: 4s;
}
@keyframes rainbow {
    0%{
        color: rgb(0, 0, 0);
    }
    50%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgb(0, 0, 0);
    }
}
.buttons {
    display:flex;
    justify-content: center;
}
.buttons button {
    font-family: Orbitron;
    font-size: 15px;
    margin: 10px 10px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
}
