body {
    background-image: url("public/assets/Menu1.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Orbitron;
}
.inputs {
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 3px;
}
.inputs form {
    font-size: 20px;
}
.inputs form input {
    text-align: center;
    font-family: Orbitron;
}
.inputs form label {
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.inputs h1 {
    font-size: 30px;
}
.inputs p {
    text-shadow: rgb(0, 0, 0) 1px 1px;
    font-size: 16px;
}
#registerButton {
    margin-top: 10px;
    font-family: Orbitron;
    font-size: 16px;
    background-color: rgba(48, 48, 61, 0.8);
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    transition: 0.2s;
}
#registerButton:hover {
    scale: 1.02;
    cursor: pointer;
    background-color: rgb(65, 65, 81);
}
#registerButton:active {
    transform: scale(0.93);
}
button {
    font-family: Orbitron;
    font-size: 16px;
    background-color: rgba(48, 48, 61, 0.8);
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    transition: 0.2s;
}
button:hover {
    scale: 1.02;
    cursor: pointer;
    background-color: rgb(65, 65, 81);
}
button:active {
    transform: scale(0.93);
}
