body {
    background-image: url("public/assets/Menu1.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Orbitron;
}
.header {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: overflow;
    background-color: #ff000085;
    padding: 20px 30px;
    margin: 0px 0px;
}
.header h1 {
    float: left;
    color: black;
    text-shadow: rgb(255, 255, 255) 1px 1px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
}
.header img {
    width: 55px;
}
.header p {  
    animation-name: rainbow;
    animation-iteration-count: infinite; 
    animation-duration: 4s;
}
@keyframes rainbow {
    0%{
        color: rgb(0, 0, 0);
    }
    50%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgb(0, 0, 0);
    }
}
.inputs {
    text-align: center;
    justify-content: center;
    color: red;
    text-shadow: rgb(0, 0, 0) 2px 3px;
}
.inputs form {
    font-size: 20px;
}
.inputs form input {
    text-align: center;
    font-family: Orbitron;
}
.inputs form label {
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.inputs h1 {
    font-size: 30px;
}
.inputs p {
    text-shadow: rgb(0, 0, 0) 1px 1px;
    font-size: 16px;
}
#registerButton {
    border: solid black 2px;
    margin: 10px;
    font-family: Orbitron;
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
}
#registerButton:hover {
    scale: 1.02;
    cursor: pointer;
}
#registerButton:active {
    transform: scale(0.93);
}
button {
    border-radius: 5px;
    border: solid black 2px;
    margin: 10px;
    font-family: Orbitron;
    padding: 5px 10px;
    width: 100px;
}
button:hover {
    scale: 1.02;
    cursor: pointer;
}
button:active {
    transform: scale(0.93);
}
